bin/
obj/
gen/
.ant-targets-build.xml
project.properties
auto.prop
.classpath
.settings/
*.iml

.idea/
local.properties
build.xml
6.1-main.iml
.gradle/
build/
testpkg/_-408563534_232
testpkg/_-758876615_232
testpkg/_-1044227528_232
testpkg/_-1635202514_3
testpkg/_-2136758478_232
node_modules